In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
a = "Manav"

In [3]:
a

'Manav'

In [4]:
l = [1,2,3,"manav",74.44,True]

In [5]:
l

[1, 2, 3, 'manav', 74.44, True]

In [6]:
num = 89.344

In [7]:
num

89.344

In [8]:
t = (2,3,4)

In [9]:
t

(2, 3, 4)

In [11]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [12]:
# i) string
# ii) string
# iii) list
# iv) int

In [13]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [14]:
# (i) / (Division Operator):
# The / operator is used for division in Python. It performs floating-point division, which means it returns a floating-point result.

In [15]:
10/5

2.0

In [16]:
# (ii) % (Modulus Operator):
# The % operator calculates the remainder of a division operation.

In [17]:
10%2

0

In [18]:
# (iii) // (Floor Division Operator):
# The // operator performs floor division, which means it returns the largest integer less than or equal to the result of the division

In [19]:
10//3

3

In [20]:
# (iv) ** (Exponentiation Operator):
# The ** operator is used for exponentiation, raising a number to a power. It calculates the result of a number raised to a specified exponent.

In [21]:
2**3

8

In [22]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [23]:
my_list = [42, "Hello, World!", 3.14, True, [1, 2, 3], {"name": "John", "age": 30}, None, (1, 2), False, "Python"]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 42, Data Type: <class 'int'>
Element: Hello, World!, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: (1, 2), Data Type: <class 'tuple'>
Element: False, Data Type: <class 'bool'>
Element: Python, Data Type: <class 'str'>

In [24]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [27]:
# Input the two numbers A and B
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
a=A
# Initialize a counter for the number of divisions
count = 0

# Use a while loop to check and count divisions
while A % B == 0:
    A = A / B
    count += 1

# Check if A became 1 after divisions
if A == 1:
    print(f"{a} is purely divisible by {B} {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  16
Enter number B:  2

16 is purely divisible by 2 4 times.

In [28]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [30]:
# Create a list of 25 integer-type elements
my_list = [2, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 34, 39, 42, 45, 48, 50, 54, 57, 60, 63, 66, 69, 72, 75]

# Use a for loop to iterate through the elements and check divisibility by 3
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

2 is not divisible by 3.
6 is divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
34 is not divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
50 is not divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.

In [31]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [32]:
# Mutable and immutable data types refer to how data can be modified or changed in a programming language.

# Immutable Data Types:
# Immutable data types are data types whose values cannot be changed after they are created. In Python, some common examples of immutable data types include:

# Integers (int)
# Floats (float)
# Strings (str)
# Tuples (tuple)

In [33]:
# Mutable data types are data types whose values can be changed or modified after they are created. In Python, some common examples of mutable data types include:

# Lists (list)
# Dictionaries (dict)
# Sets (set)

In [34]:
# Immutable data type (integer)
x = 5
y = x
x = x + 1

print(x)  # Output: 6
print(y)  # Output: 5 (y remains unchanged)

# Mutable data type (list)
list1 = [1, 2, 3]
list2 = list1
list1.append(4)

print(list1)  # Output: [1, 2, 3, 4]
print(list2)  # Output: [1, 2, 3, 4] (list2 is also modified because it refers to the same list)

6
5
[1, 2, 3, 4]
[1, 2, 3, 4]